name: Exemplo github.event

on:
  push:
    branches: [main]

jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - name: Mostrar evento
        run: |
          echo "Branch: ${{ github.event.ref }}"
          echo "Commit: ${{ github.event.head_commit.id }}"
          echo "Mensagem: ${{ github.event.head_commit.message }}"

