name: Pipeline Sequencial

on:
  push:
    branches: [main]

jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - name: Mostrar variáveis do repositório
        run: |
          echo "App: ${{ vars.APP_NAME }}"
          echo "Timeout padrão: ${{ vars.DEFAULT_TIMEOUT }}"
          echo "Região padrão: ${{ vars.DEFUALT_REGION }}"
          echo "Node version: ${{ vars.NODE }}"
